.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  gap: 100px;
  justify-content: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}
.icone {
  display: inline-flex;
  width: 20px;
}

@media (max-width: 800px) {
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}
@media (max-width: 600px) {
  .introducao {
    max-width: 1200px;
    padding: 15px 5px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    justify-content: center;
    box-sizing: border-box !important;
  }
  .introducao h1 {
    font-size: 2.5rem;
    line-height: 1.125;
    margin-bottom: 20px;
    margin-left: 10px;
    position: relative;
  }
  .introducao p {
    margin-left: 10px;
  }
}
@media print {
  .introducao {
    padding: 10px 5px;
    display: grid;
    gap: 10px;
  }
  .introducao p {
    font-size: 1rem;
    color: #525252;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
  .introducao h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 10px;
    position: relative;
  }
}
